body{
    margin: 0;
    padding: 0;
    background:#fff;
    font-family: "Inter", sans-serif;
    font-weight: 300;
    overflow-y: scroll; 
    font-size:default
}

h1 {
    font-size: 40px;
    background: -webkit-linear-gradient(#b700ff, #CA5CDD, #ba48ce);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
